$mainFont: "Roboto";

$widthContainer: 1280px;

$mainFontSize: 16;

$ColorGreen: #009b47;
$ColorDeepGreen: #00843e;
$ColorYellow: #f5e814;
$ColorBlack: #1d1d1b;
$ColorWhite: #ffffff;
$ColorLightBlue: #80A6FF;
$ColorGray: #E0E1E1;