.partners {
    padding: 0px 0px 100px 0px;

    &__title {
        margin: 0px 0px 45px 0px;
        transition: all .9s;
    }

    &__swiper-slide {
        display: flex;
        height: 150px;
    }

    &__swiper-slide-box {
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 270px;
        height: auto;
    }

    &__swiper-pagination {
        text-align: center;

        & .swiper-pagination-bullet-active {
            background-color: $ColorGreen;
        }
    }
}